@model List<Kitap>





@foreach (var item in Model)
{


    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <a href="#">
                        <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">@item.EserAdi</h2>
                    <p class="card-text">@item.Icerik</p>
                    <p class="card-text">Sayfa Sayısı: @item.SayfaSayisi</p>
                    <p class="card-text">Dil: @item.DilId</p>
                    <a href="#" class="btn btn-primary">Ayırttır</a>
                    <a class="btn btn-primary" asp-controller="Kitap" asp-action="Details" asp-route-id=@item.Id>Detaylar</a>
                </div>
            </div>
        </div>
    </div>





}