@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}




<div class="container">
    <hr>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Kayıt Ol</h4>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input asp-for="Input.Ad" class="form-control" placeholder="Adınız.." />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.Ad" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input asp-for="Input.Soyad" class="form-control" placeholder="Soyadınız.." />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.Soyad" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                    </div>
                    <input type="date" asp-for="Input.DogumTarihi" class="form-control" />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.DogumTarihi" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-transgender"></i> </span>
                    </div>
                    <select asp-for="Input.Cinsiyet" asp-items="Html.GetEnumSelectList<Cinsiyet>()"></select>

                </div> <!-- form-group end.// -->
                <span asp-validation-for="Input.Cinsiyet" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email.." />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input asp-for="Input.KullaniciAdi" class="form-control" placeholder="Kullanıcı adı.." />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.KullaniciAdi" class="text-danger"></span>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Input.Password" class="form-control" placeholder="Şifreniz.." />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Şifreniz tekrar.." />

                </div> <!-- form-group// -->
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div> <!-- form-group// -->
                
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
