@model KutuphaneOtomasyonu.Models.Kitap

@{
    ViewData["Title"] = "Kitap Düzenle";
}

<h1>Kitap Düzenle</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YazarId" class="control-label"></label>
                <select asp-for="YazarId" class="form-control" asp-items="ViewBag.YazarId"></select>
                <span asp-validation-for="YazarId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OduncDurumu" /> @Html.DisplayNameFor(model => model.OduncDurumu)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EserAdi" class="control-label"></label>
                <input asp-for="EserAdi" class="form-control" />
                <span asp-validation-for="EserAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaskiSayisi" class="control-label"></label>
                <input asp-for="BaskiSayisi" class="form-control" />
                <span asp-validation-for="BaskiSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SayfaSayisi" class="control-label"></label>
                <input asp-for="SayfaSayisi" class="form-control" />
                <span asp-validation-for="SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kapak" class="control-label"></label>
                <input asp-for="Kapak" class="form-control" />
                <span asp-validation-for="Kapak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <input asp-for="Icerik" class="form-control" />
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TurId" class="control-label"></label>
                <select asp-for="TurId" class="form-control" asp-items="ViewBag.TurId"></select>
                <span asp-validation-for="TurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RafId" class="control-label"></label>
                <select asp-for="RafId" class="form-control" asp-items="ViewBag.RafId"></select>
                <span asp-validation-for="RafId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YayineviId" class="control-label"></label>
                <select asp-for="YayineviId" class="form-control" asp-items="ViewBag.YayineviId"></select>
                <span asp-validation-for="YayineviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DilId" class="control-label"></label>
                <select asp-for="DilId" class="form-control" asp-items="ViewBag.DilId"></select>
                <span asp-validation-for="DilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
