@model KutuphaneOtomasyonu.Models.Eser
@{
    ViewData["Title"] = "Home Page";
    var sonKitap = TempData["sonKitap"];
    var sonSureliYayin = TempData["sonSureliYayin"];
}


<br />
<br />


<div class="container">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form id="search-form" asp-controller="Kitap" asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Tüm Eserler</option>
                                            <option>Kitap</option>
                                            <option>Süreli Yayın</option>
                                            <option>Dil</option>
                                            <option>Yazar</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <input type="text" placeholder="Aramanızı giriniz..." class="form-control" id="search" name="SearchString">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base" value="filter">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Son Eklenen Süreli Yayın</h4>
                <div class="card-body">
                    <img class="img-fluid rounded" src="http://placehold.it/400x500" alt="">
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Tüm Süreli Yayınlar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Son Yorumlar</h4>
                <div class="card-body">
                    @await Component.InvokeAsync("ListYorum")
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Tüm Yorumlar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Son Eklenen Süreli Yayın</h4>
                <div class="card-body">
                        <img class="img-fluid rounded" src="http://placehold.it/400x500" alt="">
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Tüm Süreli Yayınlar</a>
                </div>
            </div>
        </div>

    </div>
</div>
