@model KutuphaneOtomasyonu.Models.Yazar

@{
    ViewData["Title"] = "Yazar";
}

<h1>@Html.DisplayFor(model => model.AdSoyad)</h1>

<hr /><br />

<div><h4>Yazara Ait Kitaplar</h4></div>
@await Component.InvokeAsync("ListKitap", new { yazarId=Model.Id })
<br /><br />
<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
