@model KutuphaneOtomasyonu.Models.Raf

@{
    ViewData["Title"] = "Raf Sil";
}




<div>
    <h4>Raf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RafNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RafNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
