@model IEnumerable<KutuphaneOtomasyonu.Models.Raf>

@{
    ViewData["Title"] = "Raf";
}

<h1>Raflar</h1>

<p>
    <a asp-action="Create">Yeni Raf Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RafNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RafNo)
            </td>
            <td>
                <form asp-action="Edit" method="get" style="display:inline-block">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn fas fa-edit " style="float:right" title="Raf Düzenle" />
                </form>
                <form asp-action="Delete" method="post" style="display:inline-block">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn fas fa-trash " style="float:right" title="Raf Sil" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
