@model IEnumerable<KutuphaneOtomasyonu.Models.Dil>

@{
    ViewData["Title"] = "Diller";
}

<h1>Diller</h1>

<p>
    <a asp-action="Create">Yeni Dil Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DilAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DilAd)
            </td>
            <td>

                <form asp-action="Edit" method="get" style="display:inline-block">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn fas fa-edit " style="float:right" title="Dil Düzenle" />
                </form>
                <form asp-action="Delete" method="post" style="display:inline-block">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn fas fa-trash " style="float:right" title="Dil Sil" />
                </form>                
            </td>
        </tr>
}
    </tbody>
</table>
